<section class="hero-wrap style3 bg-squeeze">
    <img src="assets/img/hero/hero-shape-10.png" alt="Image" class="hero-shape-one">
    <img src="assets/img/hero/hero-shape-15.png" alt="Image" class="hero-shape-two">
    <img src="assets/img/hero/hero-shape-14.png" alt="Image" class="hero-shape-three">
    <img src="assets/img/hero/hero-shape-11.png" alt="Image" class="hero-shape-four animationFramesTwo">
    <div class="hero-slider-one owl-carousel">
        <div class="hero-slide-item">
            <div class="container">
                <div class="row gx-5 align-items-center">
                    <div class="col-md-6">
                        <div class="hero-content" data-speed="0.10" data-revert="true">
                            <span>Instant Money Transfer</span>
                            <h1>Transfer Money Across World In Real Time</h1>
                            <p>Dea of denouncing pleasure and praising pain was born and lete system, and expound the ac
                                teachings aitems to sed quia non numquam amet sit dolor.</p>
                            <div class="hero-btn">
                                <a href="service-one.html" class="btn style1">Get Started</a>
                                <a class="play-video" data-fancybox href="https://www.youtube.com/watch?v=DGo-OhDWIKQ">
                                    <span class="play-btn"> <i class="flaticon-play-button-arrowhead"></i></span>
                                    <span class="sm-none">Watch Video</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="hero-img-wrap">
                            <img src="assets/img/hero/hero-shape-13.png" alt="Image" class="hero-shape-five bounce">
                            <img src="assets/img/hero/hero-shape-12.png" alt="Image"
                                class="hero-shape-six moveHorizontal">
                            <img src="assets/img/hero/hero-slide-1.png" alt="Image" class="hero-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide-item">
            <div class="container">
                <div class="row gx-5 align-items-center">
                    <div class="col-md-6">
                        <div class="hero-content" data-speed="0.10" data-revert="true">
                            <span>Online Payment System</span>
                            <h1>Secured &amp; Easy Online Payment Solution </h1>
                            <p>Dea of denouncing pleasure and praising pain was born and lete system, and expound the ac
                                teachings aitems to sed quia non numquam amet sit dolor.</p>
                            <div class="hero-btn">
                                <a href="service-one.html" class="btn style1">Get Started</a>
                                <a class="play-video" data-fancybox href="https://www.youtube.com/watch?v=DGo-OhDWIKQ">
                                    <span class="play-btn"> <i class="flaticon-play-button-arrowhead"></i></span>
                                    <span class="sm-none">Watch Video</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="hero-img-wrap">
                            <img src="assets/img/hero/hero-shape-13.png" alt="Image" class="hero-shape-five bounce">
                            <img src="assets/img/hero/hero-shape-12.png" alt="Image"
                                class="hero-shape-six moveHorizontal">
                            <img src="assets/img/hero/hero-slide-2.png" alt="Image" class="hero-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide-item">
            <div class="container">
                <div class="row gx-5 align-items-center">
                    <div class="col-md-6">
                        <div class="hero-content" data-speed="0.10" data-revert="true">
                            <span>Global Money Transfer</span>
                            <h1>Move Your Money In Easy Secured Steps</h1>
                            <p>Dea of denouncing pleasure and praising pain was born and lete system, and expound the ac
                                teachings aitems to sed quia non numquam amet sit dolor.</p>
                            <div class="hero-btn">
                                <a href="service-one.html" class="btn style1">Get Started</a>
                                <a class="play-video" data-fancybox href="https://www.youtube.com/watch?v=DGo-OhDWIKQ">
                                    <span class="play-btn"> <i class="flaticon-play-button-arrowhead"></i></span>
                                    <span class="sm-none">Watch Video</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="hero-img-wrap">
                            <img src="assets/img/hero/hero-shape-13.png" alt="Image" class="hero-shape-five bounce">
                            <img src="assets/img/hero/hero-shape-12.png" alt="Image"
                                class="hero-shape-six moveHorizontal">
                            <img src="assets/img/hero/hero-slide-3.png" alt="Image" class="hero-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>